packages/Microsoft.ApplicationInsights.2.2.0/lib/net40/Microsoft.ApplicationInsights.dll
packages/Microsoft.ApplicationInsights.2.2.0/lib/net40/Microsoft.ApplicationInsights.XML
packages/Microsoft.ApplicationInsights.2.2.0/lib/net45/Microsoft.ApplicationInsights.dll
packages/Microsoft.ApplicationInsights.2.2.0/lib/net45/Microsoft.ApplicationInsights.XML
packages/Microsoft.ApplicationInsights.2.2.0/lib/net46/Microsoft.ApplicationInsights.dll
packages/Microsoft.ApplicationInsights.2.2.0/lib/net46/Microsoft.ApplicationInsights.XML
packages/Microsoft.ApplicationInsights.2.2.0/lib/netstandard1.5/Microsoft.ApplicationInsights.dll
packages/Microsoft.ApplicationInsights.2.2.0/lib/netstandard1.5/Microsoft.ApplicationInsights.XML
packages/Microsoft.ApplicationInsights.2.2.0/lib/portable-win81+wpa81/Microsoft.ApplicationInsights.dll
packages/Microsoft.ApplicationInsights.2.2.0/lib/uap10.0/Microsoft.ApplicationInsights.dll
packages/Microsoft.ApplicationInsights.2.2.0/lib/wp8/Microsoft.ApplicationInsights.dll
packages/Microsoft.ApplicationInsights.2.2.0/Microsoft.ApplicationInsights.2.2.0.nupkg
packages/Microsoft.ApplicationInsights.Agent.Intercept.2.0.6/lib/net40/Microsoft.AI.Agent.Intercept.dll
packages/Microsoft.ApplicationInsights.Agent.Intercept.2.0.6/lib/net45/Microsoft.AI.Agent.Intercept.dll
packages/Microsoft.ApplicationInsights.Agent.Intercept.2.0.6/Microsoft.ApplicationInsights.Agent.Intercept.2.0.6.nupkg
packages/Microsoft.ApplicationInsights.DependencyCollector.2.2.0/content/ApplicationInsights.config.install.xdt
packages/Microsoft.ApplicationInsights.DependencyCollector.2.2.0/content/ApplicationInsights.config.transform
packages/Microsoft.ApplicationInsights.DependencyCollector.2.2.0/content/ApplicationInsights.config.uninstall.xdt
packages/Microsoft.ApplicationInsights.DependencyCollector.2.2.0/lib/net40/Microsoft.AI.DependencyCollector.dll
packages/Microsoft.ApplicationInsights.DependencyCollector.2.2.0/lib/net40/Microsoft.AI.DependencyCollector.XML
packages/Microsoft.ApplicationInsights.DependencyCollector.2.2.0/lib/net45/Microsoft.AI.DependencyCollector.dll
packages/Microsoft.ApplicationInsights.DependencyCollector.2.2.0/lib/net45/Microsoft.AI.DependencyCollector.XML
packages/Microsoft.ApplicationInsights.DependencyCollector.2.2.0/Microsoft.ApplicationInsights.DependencyCollector.2.2.0.nupkg
packages/Microsoft.ApplicationInsights.PerfCounterCollector.2.2.0/content/ApplicationInsights.config.install.xdt
packages/Microsoft.ApplicationInsights.PerfCounterCollector.2.2.0/content/ApplicationInsights.config.transform
packages/Microsoft.ApplicationInsights.PerfCounterCollector.2.2.0/content/ApplicationInsights.config.uninstall.xdt
packages/Microsoft.ApplicationInsights.PerfCounterCollector.2.2.0/lib/net40/Microsoft.AI.PerfCounterCollector.dll
packages/Microsoft.ApplicationInsights.PerfCounterCollector.2.2.0/lib/net45/Microsoft.AI.PerfCounterCollector.dll
packages/Microsoft.ApplicationInsights.PerfCounterCollector.2.2.0/Microsoft.ApplicationInsights.PerfCounterCollector.2.2.0.nupkg
packages/Microsoft.ApplicationInsights.Web.2.2.0/content/net40/ApplicationInsights.config.install.xdt
packages/Microsoft.ApplicationInsights.Web.2.2.0/content/net40/ApplicationInsights.config.transform
packages/Microsoft.ApplicationInsights.Web.2.2.0/content/net40/ApplicationInsights.config.uninstall.xdt
packages/Microsoft.ApplicationInsights.Web.2.2.0/content/net40/web.config.install.xdt
packages/Microsoft.ApplicationInsights.Web.2.2.0/content/net40/web.config.uninstall.xdt
packages/Microsoft.ApplicationInsights.Web.2.2.0/content/net45/ApplicationInsights.config.install.xdt
packages/Microsoft.ApplicationInsights.Web.2.2.0/content/net45/ApplicationInsights.config.transform
packages/Microsoft.ApplicationInsights.Web.2.2.0/content/net45/ApplicationInsights.config.uninstall.xdt
packages/Microsoft.ApplicationInsights.Web.2.2.0/content/net45/web.config.install.xdt
packages/Microsoft.ApplicationInsights.Web.2.2.0/content/net45/web.config.uninstall.xdt
packages/Microsoft.ApplicationInsights.Web.2.2.0/lib/net40/Microsoft.AI.Web.dll
packages/Microsoft.ApplicationInsights.Web.2.2.0/lib/net40/Microsoft.AI.Web.XML
packages/Microsoft.ApplicationInsights.Web.2.2.0/lib/net45/Microsoft.AI.Web.dll
packages/Microsoft.ApplicationInsights.Web.2.2.0/lib/net45/Microsoft.AI.Web.XML
packages/Microsoft.ApplicationInsights.Web.2.2.0/Microsoft.ApplicationInsights.Web.2.2.0.nupkg
packages/Microsoft.ApplicationInsights.WindowsServer.2.2.0/content/ApplicationInsights.config.install.xdt
packages/Microsoft.ApplicationInsights.WindowsServer.2.2.0/content/ApplicationInsights.config.transform
packages/Microsoft.ApplicationInsights.WindowsServer.2.2.0/content/ApplicationInsights.config.uninstall.xdt
packages/Microsoft.ApplicationInsights.WindowsServer.2.2.0/lib/net40/Microsoft.AI.WindowsServer.dll
packages/Microsoft.ApplicationInsights.WindowsServer.2.2.0/lib/net40/Microsoft.AI.WindowsServer.XML
packages/Microsoft.ApplicationInsights.WindowsServer.2.2.0/lib/net45/Microsoft.AI.WindowsServer.dll
packages/Microsoft.ApplicationInsights.WindowsServer.2.2.0/lib/net45/Microsoft.AI.WindowsServer.XML
packages/Microsoft.ApplicationInsights.WindowsServer.2.2.0/Microsoft.ApplicationInsights.WindowsServer.2.2.0.nupkg
packages/Microsoft.ApplicationInsights.WindowsServer.2.2.0/Tools/install.ps1
packages/Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.2.2.0/content/ApplicationInsights.config.install.xdt
packages/Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.2.2.0/content/ApplicationInsights.config.transform
packages/Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.2.2.0/content/ApplicationInsights.config.uninstall.xdt
packages/Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.2.2.0/lib/net40/Microsoft.AI.ServerTelemetryChannel.dll
packages/Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.2.2.0/lib/net40/Microsoft.AI.ServerTelemetryChannel.XML
packages/Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.2.2.0/lib/net45/Microsoft.AI.ServerTelemetryChannel.dll
packages/Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.2.2.0/lib/net45/Microsoft.AI.ServerTelemetryChannel.XML
packages/Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.2.2.0/Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.2.2.0.nupkg
packages/Microsoft.AspNet.WebApi.5.2.3/Microsoft.AspNet.WebApi.5.2.3.nupkg
packages/Microsoft.AspNet.WebApi.Client.5.2.3/lib/net45/System.Net.Http.Formatting.dll
packages/Microsoft.AspNet.WebApi.Client.5.2.3/lib/net45/System.Net.Http.Formatting.xml
packages/Microsoft.AspNet.WebApi.Client.5.2.3/lib/portable-wp8%2Bnetcore45%2Bnet45%2Bwp81%2Bwpa81/System.Net.Http.Formatting.dll
packages/Microsoft.AspNet.WebApi.Client.5.2.3/lib/portable-wp8%2Bnetcore45%2Bnet45%2Bwp81%2Bwpa81/System.Net.Http.Formatting.xml
packages/Microsoft.AspNet.WebApi.Client.5.2.3/Microsoft.AspNet.WebApi.Client.5.2.3.nupkg
packages/Microsoft.AspNet.WebApi.Core.5.2.3/Content/web.config.transform
packages/Microsoft.AspNet.WebApi.Core.5.2.3/lib/net45/System.Web.Http.dll
packages/Microsoft.AspNet.WebApi.Core.5.2.3/lib/net45/System.Web.Http.xml
packages/Microsoft.AspNet.WebApi.Core.5.2.3/Microsoft.AspNet.WebApi.Core.5.2.3.nupkg
packages/Microsoft.AspNet.WebApi.WebHost.5.2.3/lib/net45/System.Web.Http.WebHost.dll
packages/Microsoft.AspNet.WebApi.WebHost.5.2.3/lib/net45/System.Web.Http.WebHost.xml
packages/Microsoft.AspNet.WebApi.WebHost.5.2.3/Microsoft.AspNet.WebApi.WebHost.5.2.3.nupkg
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0/build/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.props
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0/content/web.config.install.xdt
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0/content/web.config.uninstall.xdt
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0/lib/net45/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0/lib/net45/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0.nupkg
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0/tools/init.ps1
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0/tools/uninstall.ps1
packages/Microsoft.Net.Compilers.1.0.0/build/Microsoft.Net.Compilers.props
packages/Microsoft.Net.Compilers.1.0.0/Microsoft.Net.Compilers.1.0.0.nupkg
packages/Microsoft.Net.Compilers.1.0.0/ThirdPartyNotices.rtf
packages/Microsoft.Net.Compilers.1.0.0/tools/csc.exe
packages/Microsoft.Net.Compilers.1.0.0/tools/Microsoft.Build.Tasks.CodeAnalysis.dll
packages/Microsoft.Net.Compilers.1.0.0/tools/Microsoft.CodeAnalysis.CSharp.dll
packages/Microsoft.Net.Compilers.1.0.0/tools/Microsoft.CodeAnalysis.dll
packages/Microsoft.Net.Compilers.1.0.0/tools/Microsoft.CodeAnalysis.VisualBasic.dll
packages/Microsoft.Net.Compilers.1.0.0/tools/Microsoft.CSharp.Core.targets
packages/Microsoft.Net.Compilers.1.0.0/tools/Microsoft.VisualBasic.Core.targets
packages/Microsoft.Net.Compilers.1.0.0/tools/System.Collections.Immutable.dll
packages/Microsoft.Net.Compilers.1.0.0/tools/System.Reflection.Metadata.dll
packages/Microsoft.Net.Compilers.1.0.0/tools/vbc.exe
packages/Microsoft.Net.Compilers.1.0.0/tools/VBCSCompiler.exe
packages/Microsoft.Net.Compilers.1.0.0/tools/VBCSCompiler.exe.config
packages/Newtonsoft.Json.6.0.4/lib/net20/Newtonsoft.Json.dll
packages/Newtonsoft.Json.6.0.4/lib/net20/Newtonsoft.Json.xml
packages/Newtonsoft.Json.6.0.4/lib/net35/Newtonsoft.Json.dll
packages/Newtonsoft.Json.6.0.4/lib/net35/Newtonsoft.Json.xml
packages/Newtonsoft.Json.6.0.4/lib/net40/Newtonsoft.Json.dll
packages/Newtonsoft.Json.6.0.4/lib/net40/Newtonsoft.Json.xml
packages/Newtonsoft.Json.6.0.4/lib/net45/Newtonsoft.Json.dll
packages/Newtonsoft.Json.6.0.4/lib/net45/Newtonsoft.Json.xml
packages/Newtonsoft.Json.6.0.4/lib/netcore45/Newtonsoft.Json.dll
packages/Newtonsoft.Json.6.0.4/lib/netcore45/Newtonsoft.Json.xml
packages/Newtonsoft.Json.6.0.4/lib/portable-net40%2Bsl5%2Bwp80%2Bwin8%2Bwpa81/Newtonsoft.Json.dll
packages/Newtonsoft.Json.6.0.4/lib/portable-net40%2Bsl5%2Bwp80%2Bwin8%2Bwpa81/Newtonsoft.Json.xml
packages/Newtonsoft.Json.6.0.4/lib/portable-net45%2Bwp80%2Bwin8%2Bwpa81/Newtonsoft.Json.dll
packages/Newtonsoft.Json.6.0.4/lib/portable-net45%2Bwp80%2Bwin8%2Bwpa81/Newtonsoft.Json.xml
packages/Newtonsoft.Json.6.0.4/Newtonsoft.Json.6.0.4.nupkg
packages/Newtonsoft.Json.6.0.4/tools/install.ps1
packages/RestSharp.106.2.1/lib/net452/RestSharp.dll
packages/RestSharp.106.2.1/lib/netstandard2.0/RestSharp.dll
packages/RestSharp.106.2.1/RestSharp.106.2.1.nupkg
packages/System.ValueTuple.4.4.0/lib/MonoAndroid10/_._
packages/System.ValueTuple.4.4.0/lib/MonoTouch10/_._
packages/System.ValueTuple.4.4.0/lib/net461/System.ValueTuple.dll
packages/System.ValueTuple.4.4.0/lib/net461/System.ValueTuple.xml
packages/System.ValueTuple.4.4.0/lib/net47/System.ValueTuple.dll
packages/System.ValueTuple.4.4.0/lib/net47/System.ValueTuple.xml
packages/System.ValueTuple.4.4.0/lib/netcoreapp2.0/_._
packages/System.ValueTuple.4.4.0/lib/netstandard1.0/System.ValueTuple.dll
packages/System.ValueTuple.4.4.0/lib/netstandard1.0/System.ValueTuple.xml
packages/System.ValueTuple.4.4.0/lib/netstandard2.0/_._
packages/System.ValueTuple.4.4.0/lib/portable-net40+sl4+win8+wp8/System.ValueTuple.dll
packages/System.ValueTuple.4.4.0/lib/portable-net40+sl4+win8+wp8/System.ValueTuple.xml
packages/System.ValueTuple.4.4.0/lib/xamarinios10/_._
packages/System.ValueTuple.4.4.0/lib/xamarinmac20/_._
packages/System.ValueTuple.4.4.0/lib/xamarintvos10/_._
packages/System.ValueTuple.4.4.0/lib/xamarinwatchos10/_._
packages/System.ValueTuple.4.4.0/LICENSE.TXT
packages/System.ValueTuple.4.4.0/ref/MonoAndroid10/_._
packages/System.ValueTuple.4.4.0/ref/MonoTouch10/_._
packages/System.ValueTuple.4.4.0/ref/net461/System.ValueTuple.dll
packages/System.ValueTuple.4.4.0/ref/net461/System.ValueTuple.xml
packages/System.ValueTuple.4.4.0/ref/net47/System.ValueTuple.dll
packages/System.ValueTuple.4.4.0/ref/net47/System.ValueTuple.xml
packages/System.ValueTuple.4.4.0/ref/netcoreapp2.0/_._
packages/System.ValueTuple.4.4.0/ref/netstandard2.0/_._
packages/System.ValueTuple.4.4.0/ref/portable-net40+sl4+win8+wp8/System.ValueTuple.dll
packages/System.ValueTuple.4.4.0/ref/portable-net40+sl4+win8+wp8/System.ValueTuple.xml
packages/System.ValueTuple.4.4.0/ref/xamarinios10/_._
packages/System.ValueTuple.4.4.0/ref/xamarinmac20/_._
packages/System.ValueTuple.4.4.0/ref/xamarintvos10/_._
packages/System.ValueTuple.4.4.0/ref/xamarinwatchos10/_._
packages/System.ValueTuple.4.4.0/System.ValueTuple.4.4.0.nupkg
packages/System.ValueTuple.4.4.0/THIRD-PARTY-NOTICES.TXT
packages/System.ValueTuple.4.4.0/useSharedDesignerContext.txt
packages/System.ValueTuple.4.4.0/version.txt
EmailSenderAPI/bin/ApplicationInsights.config
EmailSenderAPI/bin/EmailSenderAPI.dll
EmailSenderAPI/bin/EmailSenderAPI.dll.config
EmailSenderAPI/bin/EmailSenderAPI.pdb
EmailSenderAPI/bin/Microsoft.AI.Agent.Intercept.dll
EmailSenderAPI/bin/Microsoft.AI.DependencyCollector.dll
EmailSenderAPI/bin/Microsoft.AI.DependencyCollector.xml
EmailSenderAPI/bin/Microsoft.AI.PerfCounterCollector.dll
EmailSenderAPI/bin/Microsoft.AI.ServerTelemetryChannel.dll
EmailSenderAPI/bin/Microsoft.AI.ServerTelemetryChannel.xml
EmailSenderAPI/bin/Microsoft.AI.Web.dll
EmailSenderAPI/bin/Microsoft.AI.Web.xml
EmailSenderAPI/bin/Microsoft.AI.WindowsServer.dll
EmailSenderAPI/bin/Microsoft.AI.WindowsServer.xml
EmailSenderAPI/bin/Microsoft.ApplicationInsights.dll
EmailSenderAPI/bin/Microsoft.ApplicationInsights.xml
EmailSenderAPI/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
EmailSenderAPI/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
EmailSenderAPI/bin/Newtonsoft.Json.dll
EmailSenderAPI/bin/Newtonsoft.Json.xml
EmailSenderAPI/bin/RestSharp.dll
EmailSenderAPI/bin/roslyn/csc.exe
EmailSenderAPI/bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
EmailSenderAPI/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
EmailSenderAPI/bin/roslyn/Microsoft.CodeAnalysis.dll
EmailSenderAPI/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
EmailSenderAPI/bin/roslyn/Microsoft.CSharp.Core.targets
EmailSenderAPI/bin/roslyn/Microsoft.VisualBasic.Core.targets
EmailSenderAPI/bin/roslyn/System.Collections.Immutable.dll
EmailSenderAPI/bin/roslyn/System.Reflection.Metadata.dll
EmailSenderAPI/bin/roslyn/vbc.exe
EmailSenderAPI/bin/roslyn/VBCSCompiler.exe
EmailSenderAPI/bin/roslyn/VBCSCompiler.exe.config
EmailSenderAPI/bin/System.Net.Http.Formatting.dll
EmailSenderAPI/bin/System.Net.Http.Formatting.xml
EmailSenderAPI/bin/System.ValueTuple.dll
EmailSenderAPI/bin/System.ValueTuple.xml
EmailSenderAPI/bin/System.Web.Http.dll
EmailSenderAPI/bin/System.Web.Http.WebHost.dll
EmailSenderAPI/bin/System.Web.Http.WebHost.xml
EmailSenderAPI/bin/System.Web.Http.xml
